main {
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dbf9f8;
  margin: auto;
}

h1{
  font-family: sans-serif;
  font-size: large;
}
h2{
  font-family: sans-serif;
  font-style: italic;
  font-size: medium;
}

fieldset{
  font-family: sans-serif;
}